header {
    position: relative; 
    z-index: 99;
    color : white;
    align-items: center;
}

.btn {
    z-index: 100;
    outline: auto !important;
}

a{
    display: flex;
    color : white;
    align-items: center;
}

a:hover{
    color : cyan
}