<link rel="stylesheet" href="./header.component.css">
<link rel="stylesheet" href="../../../bootstrap/bootstrap.min.css">

<header>
    <h1>Brawl Stars Info</h1>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse justify-content-around">
            <div class="nav-item">
                <a class="btn" routerLink="/">Brawlers</a>
            </div>
            <div class="nav-item">
                <a class="btn" routerLink="/joueur">Modes de jeu</a>
            </div>
            <div class="nav-item">
                <a class="btn" routerLink="/event">Jeux en cours</a>
            </div>
        </div>
    </nav>
</header>
