<link rel="stylesheet" href="../../../bootstrap/bootstrap.min.css">

<h3>Liste des Brawlers :</h3>

<button (click)="sortBrawlers()">Trier par nom(A-Z)</button>
<button (click)="sortBrawlersReverse()">Trier par nom(Z-A)</button>
<button (click)="sortId()">Trier par date de sortie</button>

<div class="card-container">
  <ul class="cards" *ngFor="let brawler of listeBrawlers[0].items">
    <div class="container">
      <img src="../../assets/img/{{ brawler.name.toLowerCase() }}.jpg" width="100%">
    </div>
    <strong>Nom :</strong> {{ brawler.name.toLowerCase() }}
    <div class="powers" *ngFor="let starPower of brawler.starPowers">
      <strong>Star Power :</strong> {{ starPower.name.toLowerCase() }}
    </div>
    <div class="gadgets" *ngFor="let gadget of brawler.gadgets">
      <strong>Gadget :</strong> {{ gadget.name.toLowerCase() }}
    </div>
  </ul>
</div>