<link rel="stylesheet" href="../../../bootstrap/bootstrap.min.css">

<div class="background-container"></div>

<div class="content">
  <h3>Liste des Brawlers :</h3>

  <button class="btn">Trier par nom (A-Z)</button>
  <button class="btn">Trier par nom (Z-A)</button>
  <button class="btn">Trier par identifiant</button>



  <strong>Nombre de Modes = </strong> {{gamemodes.list.length}}
  <br>
  
  <div class="card-container">
    <ul class="cards" *ngFor="let modes of gamemodes.list">
      <div class="container">
        <img alt="brawler" [src]="modes.imageUrl" width="100%">
      </div>
      <strong>Nom :</strong> {{ modes.hash }}
      <br>
      <strong>Description :</strong> {{ modes.description }}
    </ul>
  </div>

</div>